---
layout: default
title: Home
---

# 📰 Blog

## 🆕 Latest Posts
<ul>
{% for post in site.posts limit:5 %}
  <li>
    <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a><br>
    <small>{{ post.date | date: "%Y-%m-%d" }}</small><br>

    {% for category in post.categories %}
      <small><a href="/{{ category }}/">#{{ category }}</a></small>
    {% endfor %}
  </li>
{% endfor %}
</ul>

---

## 💭 Thoughts
<ul>
{% for post in site.categories.thoughts limit:3 %}
  <li>
    <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a><br>

    {% for category in post.categories %}
      <small><a href="/{{ category }}/">#{{ category }}</a></small>
    {% endfor %}
  </li>
{% endfor %}
</ul>

<a href="/thoughts/">→ View all Thoughts</a>

---

## 🚀 Projects
<ul>
{% for post in site.categories.projects limit:3 %}
  <li>
    <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a><br>

    {% for category in post.categories %}
      <small><a href="/{{ category }}/">#{{ category }}</a></small>
    {% endfor %}
  </li>
{% endfor %}
</ul>

<a href="/projects/">→ View all Projects</a>